.layout {
  display: flex;
  text-align: center;
  height: 100%;
}

.content {
  width: 100%;
  background-image: url("../../../img/car-wireframe.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  opacity: 0.2;
}
