.item-menu {
  list-style-type: none;
  padding-bottom: 10px;
  cursor: pointer;
}

ul {
  padding: 0px;
}

a {
  width: 100%;
  color: #d0cdcd;
  text-decoration: none;
  border-bottom: 1px solid #525151;
  padding: 3px; 
}
