.side-bar {
  background: #0e1823;
  width: 400px;
}

.icon {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-tc {
  cursor: pointer;
  background: url("../../../img/logo-tc.png") no-repeat;
  background-position: top;
  margin-top: 10px;
  height: 100px;
}
