.view-car {
    padding: 20px 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid white;
}

b .view-car {
    background: #1a2433;
    padding: 5px;
  }

.row-one {
    padding-bottom: 20px;
}

.row-one, .row-two {
    display: flex;
    justify-content: space-between;    
}

.details-link {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    font-size: 13px;
}

