html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0px;
  background-color: #1f2d40;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

a {
  width: 100%;
  color: #d0cdcd;
  text-decoration: none;
}

/* Importação de cada arquivo css 
    A CADA ARQUIVO CSS CRIADO DEVE SER ADICIONADO AQUI */
@import "~toastr/build/toastr.min.css";
@import "../src/components/Shared/Filters/InputFilter/InputFilter.css";
@import "../src/components/Shared/SideBar/SideBar.css";
@import "../src/components/Shared/Layout/Layout.css";
@import "../src/components/Shared/Menu/ItemMenu/ItemMenu.css";
@import "../src/components/Shared/Menu/Menu.css";
@import "../src/components/Home/Home.css";
@import "../src/components/ListCars/ListCars.css";
@import "../src/components/ListCars/ViewDataCar/ViewDataCar.css";
@import "../src/components/Shared/Loading/Loading.css";
@import "../src/components/CarDetail/ViewFullDataCar/ViewFullDataCar.css";